<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/workspace/juaracoding/sqabatch15/JCTestNG/src/test/java/com/juaracoding/CalculatorTest.java">
        <classes>
            <class name="com.juaracoding.CalculatorTest">
                <methods>
                    <include name="testAdd"/>
                    <include name="testSubtract"/>
                    <include name="testNumberGreaterThan"/>
                    <include name="testCompareString"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="D:/workspace/juaracoding/sqabatch15/JCTestNG/src/test/java/com/juaracoding/ProcedureTest.java">
        <classes>
            <class name="com.juaracoding.ProcedureTest">
                <methods>
                    <include name="testOne"/>
                    <include name="testTwo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>